<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--导入css-->
<head th:include="import::css"></head>
<body>
<!--导入菜单-->
<div th:include="import::leftBody"></div>
<!--页面内容-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="#" class="current">Chat option</a>
        </div>
        <h1>Chat option</h1>
    </div>
    <div class="container-fluid">
        <hr/>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box widget-chat">
                    <div class="widget-title"><span class="icon"> <i class="icon-comment"></i> </span>
                        <h5 id="line-status"></h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="chat-content">
                            <div class="chat-messages" id="chat-messages">
                                <div id="chat-messages-inner"></div>
                            </div>
                            <div class="chat-message well">
                                <button class="btn btn-success" id="send">Send</button>
                                <span class="input-box">
                                    <input type="text" name="msg-box" id="msg-box"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--导入footer和js-->
<div th:include="import::footer"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    /*]]>*/
</script>
</body>
</html>

